mixin mixInput(name, label, description, person, type="text")
  label.form-control.w-full
    .label
      span.label-text #{ description }
    input.input.input-bordered.w-full(
      class=errors[name] ? "input-accent" : "",
      placeholder=label,
      type=type,
      name=name,
      value=person[name]
    )
    .label
      span.label-text-alt.text-accent #{ errors[name] }
