mixin stepperButtons(prev, next, prevLabel="Zurück", nextLabel="Weiter")
  .grid.grid-cols-2.pt-5.w-full.gap-2
    if next
      button.btn.btn-primary.text-lg.order-last(
        hx-post=next,
        hx-target="#swap-target",
        hx-swap="innerHTML show:top"
      ) #{ nextLabel }
    else
      .order-last
    if prev
      button.btn.btn-secondary.text-lg.order-first(
        hx-post=prev,
        hx-target="#swap-target",
        hx-swap="innerHTML show:top"
      ) #{ prevLabel } 
    else
      .order-first
