include ../mixins/mixInput.pug
include ../mixins/stepperButtons.pug

- var child = context.children[childIndex];

mixin childInput(name, label, description, type="text")
  +mixInput(name, label, description, child, type)

input(name="context", value=context, hidden)
input(name="childNumber", value=childNumber, hidden) 
h3 Kind ##{ childIndex }

+childInput("firstName", "Vorname", "Vorname")
+childInput("lastName", "Nachname", "Nachname")
+childInput("birthDate", "Geburtsdatum", "Geburtsdatum", "date")

label.form-control.w-full
  .label
    span.label-text Geschlecht
  select.select.select-bordered(
    name="sex",
    class=errors.sex ? "select-accent scroll-target" : ""
  )
    option(value="", disabled, selected) Geschlecht
    option(selected=child.sex == "männlich") männlich
    option(selected=child.sex == "weiblich") weiblich
  .label
    span.label-text-alt.text-accent #{ errors.sex }

+childInput("friend", "Freund", "Ist ein Freund des Kindes auch auf der Freizeit? Dann würden wir versuchen, sie einer Gruppe zuzuordnen.")

label.form-control
  .label
    span.label-text Worauf müssen wir bei diesem Kind besonders achten?
      |
      | Geben Sie hier bitte Informationen zu Allergien, Herzfehler, regelmäßigen Medikamenten, Bettnässen und Sonstigem an.
  textarea.textarea.textarea-bordered.h-24.w-full(
    placeholder="Zusätzliche Angaben...",
    name="additionalInformation",
    class=errors.additionalInformation ? "textarea-accent scroll-target" : ""
  ) #{ child.additionalInformation }
  .label
    span.label-text-alt.text-accent #{ errors.additionalInformation }

+stepperButtons(`/registration/child/${childIndex}/prev`, `/registration/child/${childIndex}/next`)
