include ../mixins/mixInput.pug
include ../mixins/stepperButtons.pug

- var { parent, childCount } = context;

mixin parentInput(name, label, description, type="text")
  +mixInput(name, label, description, parent, type)

h3 Angaben zum Erziehungsberechtigten
input(name="context", value=context, hidden)
+parentInput("firstName", "Vorname", "Vorname")
+parentInput("lastName", "Nachname", "Nachname")
+parentInput("email", "E-Mail", "E-Mail-Adresse", "email")
+parentInput("phoneNumber", "Telefonnummer", "Über welche Telefonnummer können wir Sie während des Zeltlagers erreichen?")
+parentInput("city", "Wohnort", "Wohnort")
+parentInput("zipCode", "Postleitzahl", "Postleitzahl")
+parentInput("street", "Straße", "Straße")
+parentInput("houseNumber", "Hausnummer", "Hausnummer")
+parentInput("affiliate", "Kontaktperson", "Wenn Sie möchten, können Sie uns die Person mitteilen, von der Ihr Kind auf das Zeltlager eingeladen wurde. Dann haben wir es leichter, Sie zuzuordnen.")

label.form-control.w-full
  .label
    span.label-text Wie viele Kinder möchten Sie anmelden?
  select.select.select-bordered(
    name="childCount",
    class=errors.childCount ? "select-accent scroll-target" : ""
  )
    option(value=0, disabled, selected) Kinderanzahl
    option(selected=childCount == 1) 1
    option(selected=childCount == 2) 2
    option(selected=childCount == 3) 3
    option(selected=childCount == 4) 4
    option(selected=childCount == 5) 5
  .label
    span.label-text-alt.text-accent #{ errors.childCount }

+stepperButtons("", "/registration/parent/next")
